/* ESTILO GERAL */
body {
    background-color: #080c0d;
    font-family: "Source Code Pro", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

/* CONFIGURAÇÃO DO GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100vw;
    height: auto;
}

.skills{
    grid-column: 1 / span 2;
}

.grid>div {
    border: 1px solid green;
    color: white;
}